<%- include('partials/header-signed-in') -%>

  <body class="d-flex flex-column min-vh-100 w-bg">
    <div class="container main mb-5 dm-dark-container rounded">
      <div class="container d-flex flex-column col-12 col-md-10 mb-4">
        <!-- Create Recipe Form -->

        <div class="mt-5 mb-5">
          <h2 class="text-center mb-4">Create A Recipe</h2>
          <form action="/recipe/createRecipe" enctype="multipart/form-data" method="POST" class="d-flex justify-content-around g-1 flex-wrap">
            <section class="form-section-1 col-10 col-lg-5">
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control dm-container" id="title" name="title">
              </div>
  
              <div class="mb-3">
                <label for="caption" class="form-label">Description</label>
                <textarea class="form-control dm-container" id="caption" name="caption"></textarea>
              </div>

              <div class="mb-3">
                <label for="imageUpload" class="form-label">Image</label>
                <input type="file" class="form-control dm-container" id="imageUpload" name="file">
              </div>

              <div class="mb-3">
                <label for="Ingredients" class="form-label">Ingredients</label>
                <div class="ingredient-list">
                  <div class="ingredient-div mb-1">
                    <textarea name="ingredients" class='add-ingredient-input dm-container' oninput="auto_grow(this)" rows="1"></textarea>
                    <button class="btn btn-outline-primary mx-2 fa fa-trash d-trash" onclick="removeIngredient(this)"></button>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <button type="button" class="btn btn-outline-primary mb-2" id="add-ingredient-btn">+ Ingredient</button>
              </div>

              <div class="mb-3">
                <label for="directions" class="form-label">Directions</label>
                <div class="direction-list">
                  <div class="direction-div mb-1">
                    <textarea name="directions" class='add-direction-input dm-container' oninput="auto_grow(this)" rows="1"></textarea>
                    <button class="btn btn-outline-primary mx-2 fa fa-trash d-trash" onclick="removeDirection(this)"></button>
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <button type="button" class="btn btn-outline-primary" id="add-direction-btn">+ Direction</button>
              </div>
            </section>
            <section class="section2 col-10 col-lg-5">

            <div class="mb-3">
              <legend>Choose Recipe Category</legend>
              <fieldset>
                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Breakfast">
                  <label for="Breakfast">Breakfast</label>
                </div>

                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Lunch">
                  <label for="Lunch">Lunch</label>
                </div>

                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Dinner">
                  <label for="Dinner">Dinner</label>
                </div>

                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Appetizer">
                  <label for="Appetizer">Appetizer</label>
                </div>

                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Side-Dish">
                  <label for="Side-Dish">Side-Dish</label>
                </div>

                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Salad">
                  <label for="Salad">Salad</label>
                </div>

                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Soup">
                  <label for="Soup">Soup</label>
                </div>

                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Dessert">
                  <label for="Dessert">Dessert</label>
                </div>

                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Alcohol">
                  <label for="Alcohol">Alcohol</label>
                </div>

                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Drinks">
                  <label for="Drinks">Drinks</label>
                </div>

                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Holiday">
                  <label for="Holiday">Holiday</label>
                </div>

                <div class="col-5 col-sm-3">
                  <input type="checkbox" name="categories" value="Snacks">
                  <label for="Snacks">Snacks</label>
                </div>
              </fieldset>
            </section>
            </div>

            <button type="submit" class="btn btn-primary col-lg-2 mx-auto mb-2" value="Upload">Submit</button>

          </form>
        </div>
      </div>
    </div>
    <script src="../js/create-recipe.js"></script>
    <%- include('partials/footer') -%>