<%- include('partials/header-signed-in') -%>

  <body class="d-flex flex-column min-vh-100">
    <div class="container">
      <div class="row mt-5 justify-content-center">
        <div class="col-10">

          <div class="col-3 mx-auto text-center">
            <p><strong>User Name</strong>: <%= user.userName %>
            </p>
            <p><strong>Email</strong>: <%= user.email %>
            </p>
          </div>

          <div class="row mt-5 col-3 mx-auto">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>

          <!-- Create Recipe Form -->

          <div class="mt-5">
            <h2>Create A Recipe</h2>
            <form action="/recipe/createRecipe" enctype="multipart/form-data" method="POST">

              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
              </div>

              <div class="mb-3">
                <label for="caption" class="form-label">Description</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>

              <div class="mb-3">
                <label for="imageUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>

              <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients</label>
                <div class="ingredient-list">
                  <div class="ingredient-div mb-1">
                    <input name="ingredients" type="text" id="add-ingredient-input">
                  </div>
                </div>
              </div>

              <div class="col-12">
                <button type="button" class="btn btn-outline-dark" id="add-ingredient-btn">+ Ingredient</button>
              </div>

              <div class="mb-3">
                <label for="directions" class="form-label">Directions</label>
                <div class="direction-list">
                  <div class="direction-div mb-1">
                    <input name="directions" type="text" id="add-direction-input">
                  </div>
                </div>
              </div>

              <div class="col-12">
                <button type="button" class="btn btn-outline-dark" id="add-direction-btn">+ Direction</button>
              </div>

              <div class="mb-3">
                <legend>Recipe Type (Choose as many that applies):</legend>
                <fieldset>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Breakfast">
                    <label for="Breakfast">Breakfast</label>
                  </div>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Lunch">
                    <label for="Lunch">Lunch</label>
                  </div>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Dinner">
                    <label for="Dinner">Dinner</label>
                  </div>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Appetizer">
                    <label for="Appetizer">Appetizer</label>
                  </div>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Side-Dish">
                    <label for="Side-Dish">Side-Dish</label>
                  </div>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Salad">
                    <label for="Salad">Salad</label>
                  </div>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Soup">
                    <label for="Soup">Soup</label>
                  </div>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Dessert">
                    <label for="Dessert">Dessert</label>
                  </div>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Alcohol">
                    <label for="Alcohol">Alcohol</label>
                  </div>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Drinks">
                    <label for="Drinks">Drinks</label>
                  </div>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Holiday">
                    <label for="Holiday">Holiday</label>
                  </div>

                  <div class="col-5 col-sm-3">
                    <input type="checkbox" name="categories" value="Snacks">
                    <label for="Snacks">Snacks</label>
                  </div>

                </fieldset>
              </div>

              <button type="submit" class="btn btn-primary mb-3" value="Upload">Submit</button>

            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <%- include('partials/footer') -%>