<%- include('partials/header-default') -%>

  <body>
    <main class="container">
      <section class="d-flex align-items-center col-12">
        <div class="col-6 pe-5">
          <h1 class="title mb-2"> What Are We About? </h1>
          <p class="info mb-3"> FoodShare is a place where you can discover the best recipes from chefs, bloggers, and
            other food lovers. Get Inspired, share your own recipes, and connect with other people through food. </p>
          <button class="btn btn-primary"> Explore Now </button>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-lg-4 col-sm-6 p-1">
              <div class="img-container">
                <img class="gal-img rounded" src="../imgs/holiday.webp" alt="">
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 p-1">
              <div class="img-container">
                <img class="gal-img gal-img-down rounded" src="../imgs/appetizer.webp" alt="">
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 p-1">
              <div class="img-container">
                <img class="gal-img rounded" src="../imgs/salad.webp" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-6 p-1">
              <div class="img-container">
                <img class="gal-img rounded" src="../imgs/drinks.webp" alt="">
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 p-1">
              <div class="img-container">
                <img class="gal-img rounded" src="../imgs/snack.webp" alt="">
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 p-1">
              <div class="img-container">
                <img class="gal-img rounded" src="../imgs/lunch.webp" alt="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-6 p-1">
              <div class="img-container">
                <img class="gal-img gal-img-up rounded" src="../imgs/alcohol.webp" alt="">
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 p-1">
              <div class="img-container">
                <img class="gal-img gal-img-down rounded" src="../imgs/dessert.webp" alt="">
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 p-1">
              <div class="img-container">
                <img class="gal-img rounded" src="../imgs/dinner.webp" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="../js/darkmode-normal.js"> </script>
    <%- include('partials/footer') -%>