/* General Styling */
:root{
    --cta-green: #55c63a;
    --cta-green-hover: #449f2e;
    --primary-color: #ab3ac6;    
}

* {
    margin: 0;
    padding: 0; 
}

body {
    background-image: url('../imgs/i-like-food.svg');
}

/* CSS for Btns and Links */

.cta-btn {
    background-color: var(--cta-green);
    color: white;
    transition: all 0.8s; 
    font-size: 22px;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,0.2);
}

.login-button-div {
    margin: 0 auto;
    padding-top:1rem; 
}

.cta-btn:hover {
    color: white;
    background-color: var(--cta-green-hover);
}

a {
    color:var(--cta-green)
}

a:hover {
    color: var(--cta-green-hover);
}

/* Header/Nav Styling */
nav {
    box-shadow: 0 .5rem .5rem rgba(0,0,0,0.5);
    height: 75px; 
}


/* Login and Signup Page CSS */

.login-signup-body {
    background-image: url('../imgs/login-page-lg.jpg');
}

.main-login-container {
    display: flex;
    align-content: center; 
    height: calc(100vh - 75px);
}

.login-hero-content-container {
    border-radius: 10px;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,0.2); 
}


/* Form Styling */
label {
    font-size: 18px;
    font-weight:500;
}

fieldset div {
    display: inline-block;
}

/* Media Query Break Points */

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */


/* Medium devices and up! (tablets, 768px and up) */
